@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 435px) {
  .logo {
    visibility: hidden;
  }
}

@media (max-width: 435px) {
  .afterLogo {
    position: absolute;
    left: 10px;
    top: 33px;
  }
}

@media (max-width: 583px) {
  .selectMS {
    left: 10px;
    top: 64px;
  }
}

@media (max-width: 414px) {
  .mobileIphoneXR {
    height: 50vh;
  }
}

@media (max-width: 425px) {
  .contentMobile {
    height: 100px;
    margin-bottom: 5px;
    margin-top: 40px;
  }
  .widthMobile {
    width: 50%;
    left: 8px;
    bottom: 5px;
  }
}

@media (max-width: 756px) {
  .widthTab {
    width: 80%;
  }
}

@media (max-width: 375px) {
  .textMS {
    font-size: 13px;
  }
  .selectionS {
    font-size: 8px;
  }
}

@media (max-width: 425) {
  .smalldevicePad {
    margin-left: 20px;
  }
}

@media (max-width: 485px) {
  .logoMobile {
    margin-top: 28px;
  }
  .smallText {
    visibility: hidden;
  }
  .mainText {
    font-size: 17px;
  }
  .inputText {
    width: 250px;
  }
  .buttonMobile {
    padding-left: 8px;
    padding-right: 8px;
  }
  .topMobile {
    margin-top: 2px;
  }
  .textDiv {
    margin-bottom: 0px;
    position: absolute;
    top: 210px;
  }
  .buttonDiv {
    position: absolute;
    top: 164px;
  }
}

@media (max-width: 766px) {
  .padTextDiv {
    margin-top: 20px;
  }
}

@media (max-width: 411px) {
  .textDiv {
    margin-bottom: 0px;
    position: absolute;
    top: 170px;
  }
  .mainText {
    font-size: 12px;
  }
  .inputText {
    width: 160px;
  }
  .buttonMobile {
    padding-left: 2px;
    padding-right: 2px;
  }
}

@media (max-width: 356px) {
  .inputWidth {
    width: 250px;
  }
}
